trigger:
  branches:
    include:
      - main
      - master

variables:
  buildConfiguration: 'Release'
  imageName: 'geosense-api'

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.0.x'

- script: dotnet restore GeoSense.API/GeoSense.API.csproj
  displayName: 'Restore NuGet packages'

- script: dotnet build GeoSense.API/GeoSense.API.csproj --configuration $(buildConfiguration) --no-restore
  displayName: 'Build'

- script: dotnet test GeoSense.API.Tests/GeoSense.API.Tests.csproj --configuration $(buildConfiguration) --no-build --logger "trx"
  displayName: 'Test'

- script: dotnet publish GeoSense.API/GeoSense.API.csproj --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/publish
  displayName: 'Publish'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)/publish'
    artifactName: 'drop'
    publishLocation: 'Container'

# Gera e publica imagem Docker (ajuste para seu registry, por exemplo ACR)
- task: Docker@2
  displayName: Build and Push Docker image
  inputs:
    containerRegistry: '$(dockerRegistryServiceConnection)' # config serviço no Azure DevOps
    repository: '$(imageName)'
    command: 'buildAndPush'
    Dockerfile: 'GeoSense.API/Dockerfile'
    tags: |
      $(Build.BuildId)

# Automatiza configuração do App Service para apontar para a nova imagem
- task: AzureCLI@2
  displayName: Deploy to Azure Web App (Container)
  inputs:
    azureSubscription: '$(azureSubscription)'    # configure no DevOps
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az webapp config container set \
        --resource-group $(resourceGroup) \
        --name $(webAppName) \
        --docker-custom-image-name $(containerRegistry)/$(imageName):$(Build.BuildId) \
        --docker-registry-server-url https://$(containerRegistry)